﻿body{
    background-color: #ebedf0;
    padding-top:15px;
}
.tabs{
    font-family: Helvetica,Arial,sans-serif;
    padding: 0;
    z-index: 3;
    margin-bottom: -1px; 
    position: relative;
    margin-left: 15px;
}
.tabs>div {
    border-width: 1px 1px 1px 0;
    border-style: solid solid solid none;
    border-color: #AAA #AAAAAA #A1A9B2;
    padding: 3px 5px;
    color: #222e39;
    background-color: #ededed;
    outline: none; 
    display: inline-block;
    cursor: default;
}
.tabs>div:first-child {
  border-left: 1px solid #aaa;
}
.tabs>div.active{
    border-bottom-style: none;
    padding-bottom: 4px;
    background-color: #fafafa;
    color: #41464c;
    cursor: default;
}
.tab-body {
    background: none repeat scroll 0 0 #fafafa;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    display: block;
    margin-bottom: 2em;
    padding: 0;
    position: relative;
    height:300px;
    display:none;
    padding:10px;    
    overflow: auto;
}
.tab-body.active {
    display:block;
}
.item {
    cursor: pointer;
    border-bottom: 1px solid #b8c1cc;
    font-size:11px;
    height: 18px;
    line-height: 18px;
}
.item:last-child {
    border-bottom: none;
}
.item.selected {
    color: #fff;
    background-color: blue;
}
.results{
    width: 100%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: separate;
    border-top: 1px solid #b8c1cc;
    border-left: 1px solid #b8c1cc;
    border-right: 0;
    border-bottom: 0;
}
.results .headings{
    background-color: #EDEDED;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
}
.results .headings th{
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.results td{
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.results .item.disabled {
    color: #AAA;
    text-shadow: 1px 1px #FFF;
    cursor: default;
}
.name {
    width:50%;
    height:16px;
    padding-left:6px;
    padding-right:6px;
    white-space: nowrap;
}
.path {
    width:350px;
    height:16px;
    padding-left: 2px;
    vertical-align: middle;
    white-space: nowrap;
    overflow:hidden;
    padding-left:6px;
    padding-right:6px;
}
.operation{
    width:55px;
    height:16px;
    padding-left:2px;
    text-align: center;
    padding-left:6px;
    padding-right:6px;
}

div .treeicon{
    height:16px;
    display:inline-block;
    vertical-align: middle;
}
div .icon{
    width:16px;
    height:16px;
    margin:1px;
    display:inline-block;
    vertical-align: middle;
}
div .title {
    height:16px;
    display:inline-block;
    vertical-align: middle;
}

.controls{
    padding: 6px;
}

.button {
    margin-right:12px;
    margin-bottom: 12px;
}
.button.enabled{
    cursor: pointer;
}

.readonly {
    background-color: #ebebe4;
    color: #545454;
}

.block-field .itemselect
{
    width: 500px;
    padding-left: 0;
    padding-right: 0;
}

.block-field
{
    margin-bottom: 10px;
}
.block-field > label
{
    position: relative;
    float: left;
    width: 110px;
    min-height: 18px;
    padding: 4px 10px 0 0;
}
.block-field input,
.block-field textarea
{
    width: 540px;
}

.block-field > div
{
    overflow: hidden;
}
.block-field .asterisk
{
    color: red;
    font-weight: bold;
}
.field-description
{
    color: #737880;
    font-style: italic;
}
.field-description-bold
{
    font-weight: bold;
    padding-left: 120px;
}
.green > span.text
{
    color: green !important;
}
.red
{
    color: red !important;
}