﻿/**
 * Style the context menu button... #delete_plus_cm is defined in our Context Menu Extension class' AssignId property
 */
.contextmenu #cmp_transform_cm > .image {
    background-image: url('${ImgUrl}component-transformer.16x16.png');
}

/**
 * Style the ribbon tool bar button... #ComponentTransformerButton is defined in our Ribbon Toolbar Button class' AssignId property
 */
/* main icon in full ribbon mode */
.ribbontoolbar #ComponentTransformerButton.button .image, .ribbontoolbar #ComponentTransformerButton.button .image
{
    background-image: url('${ImgUrl}component-transformer.32x32.png');
}

/* main icon in minimized ribbon mode */
.ribbontoolbar.minimized #ComponentTransformerButton.button .image, .ribbontoolbar.minimized #ComponentTransformerButton.button .image
{
    background-image: url('${ImgUrl}component-transformer.16x16.png');
}